<section class="hero is-warning is-large">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Welcome to my app
      </h1>
      <h2 class="subtitle">
        microposters
      </h2>
    </div>
  </div>
</section>